
**/node_modules/

**/*.log
**/logs/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*


**/.env
**/.env.*  # handles .env.local, .env.development etc.


.DS_Store
Thumbs.db
.vscode/
.idea/


**/dist/
**/build/
**/.next/
**/.turbo/
**/.parcel-cache/
**/coverage/

**/*.out
**/*.pyc
**/*.class
**/__pycache__/


**/mongodb_data/
**/n8n_data/


package-lock.json
yarn.lock
pnpm-lock.yaml

*.swp
*.bak
*.tmp
*.temp
*~

**/spline-assets/

*.log
*.tgz
*.gz

**/lib/
**/out-tsc/
